.revizor {
	padding-top: 9rem;
	padding-bottom: 8rem;
}
.revizor__title {
	left: -1.65em;
}
.revizor__information-wrapper {
	lost-center: 850px;
}
.revizor__specialist-wrapper {
	lost-flex-container: row;
	margin-bottom: 7.5rem;
}
.revizor__photo {
	lost-column: 2/5;
	padding-right: 5rem;
	padding-top: 24px;
	border-radius: 50px;
}
.revizor__information {
	lost-column: 3/5;
	padding-left: 50px;
}
.revizor__name {
	font-size: 2.6rem;
	font-weight: bold;
	margin-top: .7em;
	margin-bottom: .5em;
}
.revizor__position {
	font-weight: 500;
	font-size: 1.47rem;
	margin-bottom: 2.4em;
}
.revizor__description {
	font-size: 1.3rem;
	line-height: 2rem;
}
.revizor__gallery-wrapper {
	lost-flex-container: row;
	width: 100%;
}
.revizor__document {
	lost-column: 1/5;
}
.revizor__document-button {
	width: 100%;
	position: relative;
	line-height: 0;
}
.revizor__document-button:after {
	content: '';
	width: 100%;
	height: 100%;
	background: transparent;
	transition: all .4s;
}
.revizor__document-img-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	opacity: .5;
	transition: all 0.4s;
}
.revizor__document-img-wrapper:hover {
	background: var(--yellow);
}
/*.revizor__document-button:hover:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--yellow);
	opacity: .5;
}*/

@media(--md) {
	.revizor__information-wrapper {
		padding-left: 6rem;
	}
}
@media(--sm) {
	.revizor__title {
		left: -1.1em;
	}
	.revizor__information-wrapper {
		lost-center: 100%;
	}
	.revizor__photo {
		padding-right: 0;
	}
}
@media(--ph) {
	.revizor__gallery-wrapper {
		display: none;
	}
	.revizor {
		padding-top: 110px;
		padding-bottom: 0;
	}
	.revizor__specialist-wrapper {
		lost-flex-container: column;
		align-items: center;
	}
	.revizor__photo {
		margin-right: 0 !important;
		width: 20rem;
		max-width: 20rem;
		flex-shrink: 1;
		margin-bottom: 30px;
	}
	.revizor__information-wrapper {
		padding-left: 0;
	}
	.revizor__information {
		padding-left: 0;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
}